html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    background-color: #000;
}

/* Particulas */
.particle {
    position: absolute;
    pointer-events: none;
    opacity: 1;
    transform: translate(-50%, -50%);
    animation: fadeOut 1s linear forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
}