* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.3s;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-txt-1);
}

/* variaveis de cor pro dark mode */
:root {
    --bg-1: #001D39;
    --bg-2: #191D23;
    --accent: #3d6a9e;

    --bar-color-1: #11416e;
    --bar-color-2: #0084ff;

    --bg-github: #181616;
    --bg-linkedin: #0076b2;
    --bg-email: rgb(182, 50, 50);

    --bg-projeto-card: #0084ff;

    --bg-color-button: #4A4A4A;

    --color-txt-1: #fff;
    --color-txt-2: #cccbcb;
    --color-txt-3: #4f7ec4;
}

[data-theme="dark"] {
    --bg-1: #8928FF;
    --bg-2: #bd84ff;
    --accent: #af5fff;

    --bar-color-1: #bd84ff;
    --bar-color-2: #8928FF;

    --bg-github: #181616;
    --bg-linkedin: #0076b2;
    --bg-email: rgb(182, 50, 50);

    --bg-projeto-card: #a461f7;

    --bg-color-button: #7125ce;

    --color-txt-1: #fff;
    --color-txt-2: #dddddd;
    --color-txt-3: #bd84ff;
}








/* From Uiverse.io by absent452 */
/* From Uiverse.io by vinodjangid07 */
.button {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: var(--bg-color-button);
    border: none;
    font-weight: 300;
    border: 4px double #fff;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}

.svgIcon {
    width: 14px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: #fff;
}

.button:hover {
    scale: calc(1.2);
    transition: 0.5s;
}










/* capa do site */
#capa {
    background: var(--bg-1);
    height: 100vh;
}

/* header */
nav {
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px white solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

header p {
    font-size: 2rem;
    font-weight: 1000;
}

#link-pagina {
    display: flex;
    gap: 30px;
}

header a {
    color: var(--color-txt-1);
    text-decoration: none;
    font-size: clamp(1rem 1.2rem 1.3rem);
    position: relative;
    padding-bottom: 7px;
}

header a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2.5px;
    left: 0;
    bottom: 0;
    background-color: var(--color-txt-1);
    transition: width 0.3s ease-out;
}

header a:hover::after {
    width: 100%;
}














/* Hero */
#hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#hero h1 {
    font-size: clamp(2.5rem, 8vw, 5rem);
    font-weight: 300;
    letter-spacing: 0.2em;
    line-height: 1.2;
}

.text {
    color: var(--color-txt-2);
    font-weight: 300;
    padding-top: 1rem;
    font-size: clamp(13px, 20px, 25px);
}

.typing {
    color: var(--color-txt-3);
    font-weight: 1000;
    font-size: clamp(13px, 20px, 25px);
}

.scroll-indicator {
    position: absolute;
    bottom: 40px;
    animation: bounce 0.9s infinite;
}

.scroll-indicator {
    cursor: pointer;
}

@keyframes bounce {

    0%,
    25%,
    50%,
    75%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}








/* Sections */
section {
    padding: 5rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: 0.1em;
}













/* Sobre Mim */
#sobre-mim {
    background: linear-gradient(to bottom,
            var(--bg-1), var(--bg-2));
}

.sobre-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
}

.sobre-text p {
    margin-bottom: 1.5rem;
    color: var(--color-txt-1);
    line-height: 1.8;
    font-size: clamp(0.5rem 1rem 1.3rem);
}

.sobre-image {
    position: relative;
}

.sobre-image img {
    z-index: -99;
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}












/* Habilidades */
#habilidades {
    background: var(--bg-2);
}

.habilidades-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.habilidades-card {
    background: var(--bg-2);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    background: var(--accent);
}

.habilidades-card h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.skill-item {
    margin-bottom: 1.5rem;
}

.skill-item span {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--color-txt-1);
}

.skill-bar {
    background: var(--bar-color-1);
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.skill-progress {
    height: 100%;
    background: var(--bar-color-2);
    border-radius: 5px;
    transition: width 1s ease;
}
















/* Currículo */
#curriculo {
    background: var(--accent);
}

.curriculo {
    text-align: center;
    background: var(--accent);
    border-radius: 15px;
    padding: 4rem 2rem;
}

.curriculo p {
    color: var(--color-txt-1);
    margin-bottom: 2rem;
}

.btn-download {
    background: var(--bg-1);
    color: var(--color-txt-1);
    border: none;
    padding: 1rem 3rem;
    font-size: 1.1rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-download:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    scale: calc(1.1);
}




















/* Projetos */
#projetos {
    background: var(--bg-2);
}

.projetos {
    position: relative;
}

.titulo-e-btn {
    display: flex;
}

.btn-ver-todos {
    position: absolute;
    right: 2rem;
    background: var(--bg-projeto-card);
    color: var(--color-txt-1);
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.projetos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
    text-align: center;
}

.projeto-card {
    background: var(--bg-projeto-card);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.projeto-card:hover {
    transform: translateY(-10px);
}

.projeto-image {
    width: 100%;
    height: 250px;
    background: var(--accent);
}

.projeto-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projeto-card h3 {
    padding: 1.5rem;
    font-size: 1.1rem;
}




/* Modal dos Projetos */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 90vh;
    width: auto(minmax 300px 1200px);
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    padding: 20px;
    background-color: var(--accent);
    border-radius: 8px;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    line-height: 1;
    z-index: 1000;
}

.modal-content h2 {
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--color-txt-1);
    font-size: clamp(0.7em 1em 1.5em);
}

.modal-content p {
    color: var(--color-txt-1);
    margin-bottom: 20px;
}

.btn-online {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: clamp(0.7rem 1rem 1.2rem);
    background: var(--bg-1);
    color: var(--color-txt-1);
    margin-bottom: 10px;
}

.btn-github {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: clamp(0.7rem 1rem 1.2rem);
    background: var(--bg-github);
    color: var(--color-txt-1);
    margin-bottom: 10px
}

.modal-content img {
    width: 100%;
    margin-top: 30px;
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    display: block;
}



/* Span de linguagens */
#tech {
    margin-top: 10px;
    gap: 20px;
}

#tech.html::before {
    content: "HTML";
    display: inline-block;
    background-color: #e34c26;
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
    margin: 0 5px;
    font-size: 0.9rem;
}

#tech.css::before {
    content: "CSS";
    display: inline-block;
    background-color: #264de4;
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
    margin: 0 5px;
    font-size: 0.9rem;
}

#tech.js::before {
    content: "JavaScript";
    display: inline-block;
    background-color: #f0db4f;
    color: #000;
    padding: 5px 10px;
    border-radius: 30px;
    margin: 0 5px;
    font-size: 0.9rem;
}

#tech.api::before {
    content: "API";
    display: inline-block;
    background-color: #61dafb;
    color: #000;
    padding: 5px 10px;
    border-radius: 30px;
    margin: 0 5px;
    font-size: 0.9rem;
}













/* Contato */
#contato {
    background: linear-gradient(to bottom,
            var(--bg-2), var(--bg-1));
}

.contato-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.contato-form {
    background: var(--accent);
    padding: 30px;
    border-radius: 20px;
}

.contato-form input,
.contato-form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background: var(--bg-2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: var(--color-txt-1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contato-form input::placeholder,
.contato-form textarea::placeholder {
    color: var(--color-txt-1);
}

.btn {
    text-align: center;
}

.btn-enviar {
    background: var(--bg-1);
    color: var(--color-txt-1);
    border: none;
    padding: 1rem 4rem;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.btn-enviar:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.contato-info {
    background: var(--accent);
    padding: 30px;
    border-radius: 20px;
}

.info-card {
    background: var(--bg-2);
    padding: 2rem;
    border-radius: 15px;
    margin-bottom: 1.5rem;
}

.info-card h3 {
    margin-bottom: 0.7rem;
}

.info-card p {
    color: var(--color-txt-1);
    margin-bottom: 0.5rem;
}

#social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 20%;
}

#social-btn {
    color: var(--color-txt-1);
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
}

#social-btn:hover {
    transform: translateY(-3px);
}

.github {
    background: var(--bg-github);
}

.linkedin {
    background: var(--bg-linkedin);
}

.email {
    background: var(--bg-email);
}

/* Footer */
#footer {
    background: var(--bg-1);
}

footer {
    text-align: center;
    padding: 2rem;
    color: var(--color-txt-1);
    margin-left: 5%;
    margin-right: 5%;
    border-top: 1px solid white;
}














/* Responsividade Header e Hero */
@media (max-width: 768px) {

    nav {
        margin-left: 2%;
        margin-right: 2%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        align-items: flex-start;
    }

    #link-pagina {
        display: none;
    }

    header p {
        font-size: 1.5rem;
    }
}

/* Responsividade Sobre Mim */
@media (max-width: 768px) {
    .sobre-content {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .sobre-image {
        text-align: center;
    }

    .sobre-image img {
        max-width: 100%;
        width: 80%;
        height: auto;
    }

    .sobre-text p {
        font-size: 1rem;
    }
}

/* Responsividade Projetos */
@media (max-width: 768px) {

    section {
        padding: 3rem 1rem;
    }

    h2 {
        font-size: 2rem;
    }

    .titulo-e-btn {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .btn-ver-todos {
        position: static;
        margin-top: 1rem;
        width: 100%;
        max-width: 250px;
    }

    .projetos-grid {
        margin-top: 2rem;
    }

    .projeto-image {
        height: 200px;
    }


}

/* Responsividade Contato */
@media (max-width: 768px) {
    .contato-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .contato-form,
    .contato-info {
        padding: 20px;
    }

    #social-links {
        gap: 10px;
    }

    #social-btn {
        padding: 10px 15px;
    }

    #social-btn svg,
    #social-btn img {
        width: 30px !important;
        height: 30px !important;
    }
}

@media (max-width: 420px) {

    .contato-form,
    .contato-info {
        padding: 15px;
    }

    .contato-form input,
    .contato-form textarea {
        margin-bottom: 0.8rem;
        font-size: 0.9rem;
    }

    .btn-enviar {
        padding: 0.8rem 3rem;
        font-size: 1rem;
    }

    .contato-info h2 {
        font-size: 1.5rem;
    }

    .info-card {
        padding: 1.5rem;
    }

    #social-links {
        gap: 8px;
    }

    #social-btn svg,
    #social-btn img {
        width: 25px !important;
        height: 25px !important;
    }

    .direitos {
        font-size: 8px;
    }
}